/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

  
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

  .icons .single_service_box h3::before {
    left: 81px;
  }
  .blog .single_blob_box .blog_top p {
    margin-right: 10px;
  }

}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    padding-top: 86px;
    padding-bottom: 76px;
    background-position: 6% 4%;
  }
  .mm-ocd--open {
    background: transparent !important;
  }
  .icons .single_service_box h3::before {
    left: 106px;
  }
  .icons .col-sm-6:nth-child(3){
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .hero {
    padding-top: 136px;
    padding-bottom: 100px;
  }
  .hero h1 {
    font-size: 27px;
  }
  .hero p {
    padding-right: 256px;
  }
  .services {
    padding: 50px 0;
  }
  .feature_left {
    margin-bottom: 50px;
  }
  .team {
    padding: 80px 0;
    text-align: center;
  }
  .team_left {
    margin-bottom: 25px;
  }
  .team .single_progress_item .progress .progress-bar p {
    right: -28px;
  }
  .team .row .col-lg-6:nth-child(3) .progress .progress-bar p {
    right: -24px;
  }
  .team .row .col-lg-6:nth-child(4) .progress .progress-bar p {
    width: 7%;
    right: -24px;
  }
  .awesome_feature {
    padding: 77px 0 58px 0;
    text-align: center;
  }
  .creative {
    padding: 40px;
    text-align: center;
  }
  .blog_top {
    justify-content: center;
  }
  .single_blob_box {
    text-align: center;
  }
  .blog .single_blob_box .blog_txt h2::before {
    left: 42%;
  }
  .counter {
    padding: 50px;
  }
}

 
/* Extra small Device. */
@media (max-width: 767px) {
  .hero {
    padding-top: 86px;
    padding-bottom: 76px;
    background-position: 0% 4%;
  }
  .icons .single_service_box h3::before {
    left: 37%;
  }
  .hero h1 {
    font-size: 33px;
  }
  .creative {
    padding: 10px;
  }
  .team {
    padding: 80px 0;
    text-align: center;
  }
  .isotope {
    padding: 80px 0;
  }
  .blog {
    text-align: center;
  }
  .icons .single_service_box h3::before {
    left: 86px;
  }
  .icons .single_service_box h3::before {
    bottom: -11px;
  }
  .icons .col-sm-6:nth-child(3){
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .icons .single_service_box {
    padding: 25px 15px;
  }
  .icons .single_service_box h3 {
    margin-bottom: 14px;
  }
  .blog_top {
    display: inline-flex;
  }
  .single_blob_box {
    margin-bottom: 40px;
  }
  .blog .single_blob_box .blog_txt h2::before {
    left: 47%;
  }
  .team_left {
    margin-bottom: 25px;
  }
  .awesome_feature {
    text-align: center;
  }
  .creative .creative_right .creative_txt .creative_btn {
    padding: 12px 28px;
  }
  .counter {
    padding: 80px;
  }
  .hero .herp_btn a {
    padding: 8px 20px;
    margin-bottom: 10px;
    display: block;
  }
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    padding: 80px 0;
    text-align: center;
  }
  .icons .single_service_box h3::before {
    position: static;

  }
  .isotope {
    padding: 80px 0;
  }
  .blog {
    text-align: center;
  }
  .blog_top {
    display: inline-flex;
  }
  .single_blob_box {
    margin-bottom: 40px;
  }
  .blog .single_blob_box .blog_txt h2::before {
    left: 47%;
  }
  .team_left {
    margin-bottom: 25px;
  }
  .awesome_feature {
    text-align: center;
  }
  .creative .creative_right .creative_txt .creative_btn {
    padding: 12px 28px;
  }
  .counter {
    padding: 80px;
  }
  .hero .herp_btn a {
    padding: 8px 20px;
    margin-right: 10px;
  }
  .team .single_progress_item .progress .progress-bar p {
    font-size: 11px;
  }
}