.video{
  padding-top: 105px;
  padding-bottom: 147px;
  background-size: cover;
  background-position: center;
  .video_txt{
    h2{
      font-size: 48px;
      color: #fff;
    }
    p{
      font-size: 35px;
      color: #eedfdf;
      margin-bottom: 122px;
    }
  }
}