.why{
  padding: 100px 0;
  header{
    h2{
      font-size: 48px;
      font-weight:700;
      color: #282828;
      margin-bottom: 10px;
    }
    p{
      font-size: 18px;
      font-weight: normal;
      color:#767676;
    }
  }
  .single_why_box{
    .logo_img{
      img{

      }
    }
    .text{
      p{
        padding-right: 40px;
      }
    }
  }
}